# Training Data

In [18]:
import pandas as pd

train_df = pd.read_csv('data/imdb_train.csv', header=0)
train_df.head()

                                                text  label
0  This movie makes me want to throw up every tim...      0
1  Listening to the director's commentary confirm...      0
2  One of the best Tarzan films is also one of it...      1
3  Valentine is now one of my favorite slasher fi...      1
4  No mention if Ann Rivers Siddons adapted the m...      0

# Test Data

In [19]:
test_df = pd.read_csv('data/imdb_test.csv', header=0)
test_df.head()

                                                text  label
0  What I hoped for (or even expected) was the we...      0
1  Garden State must rate amongst the most contri...      0
2  There is a lot wrong with this film. I will no...      1
3  To qualify my use of "realistic" in the summar...      1
4  Dirty War is absolutely one of the best politi...      1